<app-header [title]="title" (featureSelected)="onNavigate($event)"></app-header>
  <main class="main-content">
    <div class="container">
      <div class="page-header mb-4">
        <h1>Dashboard</h1>
      </div>
      <div class="page-content">
        <div class="row">
          <div class="col">
            <app-recipies *ngIf="loadedFeature === 'recipies'"></app-recipies>
            <app-shopping-list *ngIf="loadedFeature === 'shopping-list'"></app-shopping-list>
          </div>
        </div>
      </div>
    </div>
  </main>
<app-footer></app-footer>
<!-- <router-outlet></router-outlet> -->
